@font-face {
    font-family: 'rialto_nfregular';
    src: url('./font/rialtonf-webfont.woff2') format('woff2'),
         url('./font/rialtonf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


:root{
    font-family: rialto_nfregular,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    background-color: whitesmoke;
    transition: all 0.35s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top,.bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top{
    height: 10%;
    background-color: lightcoral;
}

.top > h1{
    font-size: 4rem;
    text-decoration: underline;
}

.bottom{
    height: 90%;
    background-color: lightseagreen;
    display: grid;
    grid-template-columns: 300px 700px 300px;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
}

.bottom > div {
    width: 100%;
    height: 100%;
}

/* this is for the player1 */
.bottom > div:first-child{
    background-color: darkorange;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* this is for play area */
.bottom > div:nth-child(2){
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkgreen;
    flex-direction: column;
}

.base{
    width: 70%;
    height: 70%;
    background-color: lightsteelblue;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    outline: 3px dashed black;
}

/* constains reset and playagain button */
.buttonHolder{
    width: 70%;
    height: 10%;
    background-color: lightseagreen;
    display: flex;
    justify-content: space-around;
    align-items: center;

    & > button{
        height: 60%;
        width: 40%;
        border: none;
        border-radius: 10px;
        font-size: 1rem;
        font-family: rialto_nfregular,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
    }
}

.uwu{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 2px solid;

    &:hover{
        background-color: darkslateblue;
    }
}

/* this is for the player2 */
.bottom > div:last-child{
    background-color: darkred;
    display: flex;
    justify-content: center;
    align-items: center;
}

.holder{
    outline: 3px dashed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    width: 90%;
    gap: 15px;

    & > input{
        font-family: rialto_nfregular,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;
        width: 90%;
        border: none;
        background-color: transparent;
        font-size: 2rem;

        &:focus{
            border: none;
            outline: none;
        }
    }

    & > h4{
        font-size: 6rem;
    }
}

@media only screen and (max-width:450px){
    .top{
        height: 10%;
    }

    .top > h1{
        font-size: 2rem;
    }

    .bottom{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60% 40%;
    }

    .base{
        height: 70%;
        width: 85%;
    }

    .bottom > div:nth-child(2){
        grid-row: 1/2;
        grid-column: 1/3;
    }
}